<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
        <ul>
          <li class="p-hamburger">
            <span></span><span></span><span></span>
          </li>
        </ul>
        <ul>
          <li>
            <a [routerLink]="['/']" [routerLinkActive]="['is-active']">{{'about.title' | translate}}</a>
          </li>
          <li>
            <a [routerLink]="['skills']">{{'header.skills' | translate}}</a>
          </li>
          <li>
            <a [routerLink]="['contact']">{{'contact.contactMe' | translate}}</a>
          </li>
          <li class="nav-item p-1 rounded">
            <mat-radio-group  [(ngModel)]="language" style="margin-top: 5px;"
            (change)="languageChange($event)" aria-label="Select a language">
            <mat-radio-button value="en" >
                En
            </mat-radio-button>
            <mat-radio-button value="fr" class="pl-3">
                Fr
            </mat-radio-button>
        </mat-radio-group>


        </li>
        </ul>
      </div>
    </div>

  </div>
</header>
