/* GENERAL */
body{
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

img{
  max-width: 100%;
  height: auto;
}
ul,ol{
  list-style:none;
}
section{
  padding: 45px 0px 80px 0;
}
section .heading{
  text-align: center;
  padding-bottom: 40px;
  color: #fff;
}
section .heading h3{
  color: #fff!important;
}
section .heading h2{
  text-transform: uppercase;
}
.red-divider{
  width: 100px;
  height: 2px;
  background: #ff6700;
  margin: 0 auto 20px;

}
.white-divider{
  width: 100px;
  height: 2px;
  background: #ff6700;
  margin: 0 auto 20px;
}


/* MENU */
.navbar {
  background-color: #ebebeb;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar img {
  animation: slideLeft 1s ease forwards;
  opacity: 0;
}
.nav-pills .nav-link{
  color: black !important;
  text-align: center;
  transition: 0.3s all;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s *  var(--i));
  opacity: 0;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
  color: #fff !important;
  background-color: #ff6700 !important;
}
.navbar-toggler{
  color: #ff6700 !important;
  border-style: none;
}


/* ABOUT */
#about{
  padding-top: 50px;
  /* background: rgba(0, 0, 0, 0.9) url('../images/pro2.JPG'); */
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture{
  text-align: center;
  margin: 0 auto;
  float: none;
}
#about .heading h1{
  color: #fff;
  text-transform: uppercase;
}
#about .heading h3{
  color: #000;
}
.button1{
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top:  20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
.button1:hover{
  background: white;
  color: #ff6700;
  text-decoration: none;
}

/* SKILLS */
#skills{
  background: #fff;
}

#skills .heading h2 {
  color: #ff6700;
}
#skills .progress{
  height: auto;
  margin: 30px 20px;
  background: #ddd;
}
#skills .progress-bar{
  background: #042a2d;
  border-radius: 5px;
  animation: skill 1s ease forwards;
  opacity: 0;
}
#skills .progress h5{

  text-shadow: 1px 1px 1px #000;
}


/* EXPERIENCE */
#experience{
  background: #333;
  animation: expPage 1s ease forwards;
  opacity: 0;
}
#experience .heading h2{
  color: #fff;
}
.timeline{
  padding: 30px 10px;
  position: relative;
}
.timeline:before{
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #fff;
  left: 50%;
  margin-left: -2.5px;
}
.timeline > li{
  margin-bottom: 20px;
  position: relative;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.8s *  var(--i));
  opacity: 0;
}
.timeline > li:after{
  clear: both;
}
.timeline > li:before, .timeline > li:after{
  content: " ";
  display: table;
}
.timeline li .timeline-badge{
  color: #ff6700;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}
.timeline-panel-container{
  width: 50%;
  float: left;
}
.timeline-panel-container-inverted{
  width: 50%;
  float: right;
}
.timeline-panel{
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
  background: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
  float: left;
  margin-left: 40px;
}
.timeline-panel:after{
  position:absolute;
  top: 27px;
  right: -14px;
  display:inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-heading h3{
  margin-top: 5px;
  font-size: 20px;
}
.timeline-heading h4{
   color: #ff6700;
}


/* EDUCATION */
#education{
  background: #fff;
}
#education .heading h2{
  color: #ff6700;
}
.education-block{
  width:90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.23);
}
.part1{
  animation: recom 2s ease forwards;
  opacity: 0;
}
.part2{
  animation: part2 3s ease forwards;
  opacity: 0;
}
.education-block h5{
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}
.education-block .fas{
  font-size: 35px;
}
.education-block h3{
   color: #ff6700;
}
.education-block h4{
 margin-bottom: 20px;
}
.education-block p{
font-weight: bold;
}
.education-block .red-divider{
  margin-bottom: 20px;
}

/* REALISATION */
#realisation .card{
  animation: realisations 1s ease forwards;
  animation-delay: calc(0.8s *  var(--i));
  opacity: 0;
}
#realisation .mobile{
  position: relative;
  top: -60%;
}


/* PORTFOLIO */
#portfolio{
  background: #333;
  animation: expPage 1s ease forwards;
  opacity: 0;
}
#portfolio .heading h2{
  color: #fff;
}
#portfolio img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#portfolio img:hover{
   filter: none;
  -webkit-filter: none;
}
#portfolio .col-md-4{
  margin-bottom: 20px;
}

.box{
  position: relative;
  width: 600px;
  height: 300px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.box::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 300px;
  background: linear-gradient(0deg,
  transparent, #ff6700, #ff6700);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 300px;
  background: linear-gradient(0deg,
  transparent, #ff6700, #ff6700);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: 3s;
}

@keyframes animate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.forme{
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: #28292d!important;
  z-index: 10;
}


/* RECOMMANDATIONS */
#recommandations{
  background: #fff;
  animation: recom 3s ease forwards;
  opacity: 0;
  animation-delay: 2s;
}
#recommandations .heading h2{
  color: #ff6700;
}
.fas.fa-chevron-left, .fas.fa-chevron-right{
  background-image: none;
  color: #ff6700;
}
.carousel-indicators{
  bottom: 0px;
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ff6700;
}
.carousel-indicators li.active{
  background-color: #ff6700;
}
#myCarousel .carousel-item{
  padding: 40px 30px;
}
#myCarousel .carousel-item h3{
  color: #ff6700;
  font-style: italic;
}


/* FOOTER */
footer{
  background: #333;
  padding: 20px 0 40px;
}
footer .fas{
  font-size:  25px;
  margin: 20px;
  color: #ff6700;
  height: 30px;
}
footer .fas:hover{
  font-size:  27px;
}
footer h5{
  color: #fff;
  font-weight: normal;
}

#realisation .card{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.ico i{
  font-size: 30px;
}
.ico i:hover{
  color: #ff6700;
}
.ico a{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #1c1c1c;
}
.ico a:hover{
  text-decoration: none;
  color: #ff6700;
}

.modal-header{
  background-color: #1c1c1c;
  color: #fff;
}


/* ==================  Animation */
@keyframes slideLeft{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes navMenu{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes skill{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes expPage{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  100%{
      transform: scale(1);
      opacity: 1;
  }
}
@keyframes realisations{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes recom{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes part2{
  0%{
      transform: translateX(100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
