<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Développeur full stack</span>
        <h1 class="mt-4">ALOUI Ismail</h1>
        <p class="p-desc mt-3 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores error ratione odio excepturi ex suscipit nulla perferendis, necessitatibus soluta obcaecati quos voluptatum exercitationem enim at eveniet. Dicta, voluptas. Blanditiis, voluptatibus.</p>
        <a class="p-readmore"> En savoir plus <img src="assets/img/read-me.png" alt=""  width="18" class="ml-2"></a>
      </div>
    </div>
  </div>
</section>
